@for $i from 1 through 50 {
  // margin helper classes
  .m-#{$i} {margin: #{$i}px;}
  .mt-#{$i} {margin-top: #{$i}px;}
  .mb-#{$i} {margin-bottom: #{$i}px;}
  .ml-#{$i} {margin-left: #{$i}px;}
  .mr-#{$i} {margin-right: #{$i}px;}

  // padding helper classes
  .p-#{$i} {padding: #{$i}px;}
  .pt-#{$i} {padding-top: #{$i}px;}
  .pb-#{$i} {padding-bottom: #{$i}px;}
  .pl-#{$i} {padding-left: #{$i}px;}
  .pr-#{$i} {padding-right: #{$i}px;}
}

.shadow {
  box-shadow: 0 0 6px 0 $dark-gray;
}

.circle-bullets > li {
  list-style: none;
  margin-bottom: 5px;

  > span {
    color: $white;
    font-weight: bold;
    display: inline-block;
    height: rem-calc(40px);
    width: rem-calc(40px);
    background-color: $primary-color;
    border: 2px solid scale-color($primary-color, $lightness: 60%);
    border-radius: 50%;
    vertical-align: middle;
    line-height: rem-calc(40px);
    text-align: center;
    margin-right: rem-calc(10px);
  }
}

.block { display: block };